@namespace MudBlazor.ThemeManager
@inherits ComponentBaseWithState

<CascadingValue Value="this">
    <MudDrawer Style="backdrop-filter: blur(10px); -webkit-backdrop-filter:blur(10px); background-color: rgba(var(--mud-palette-drawer-background), 0.2);" @bind-Open:get="_openState.Value" @bind-Open:set="_openState.SetValueAsync" Anchor="Anchor.End" Elevation="25" Variant="@DrawerVariant.Temporary" Overlay="false" Width="312px">
        <div class="pa-4">
            <MudText Typo="Typo.h6">Theme Presets</MudText>
            <MudSelect T="string" @bind-Value="@ThemePresets" Disabled="true" Underline="false">
                <MudSelectItem Value="@("Not Implemented")" />
            </MudSelect>
        </div>
        <MudDivider />
        <div class="pa-4">
        <MudExpansionPanels Dense="true" MultiExpansion="true">
            <MudExpansionPanel>
                <TitleContent>
                    <MudText Typo="Typo.h6">Breakpoints</MudText>
                </TitleContent>
                <ChildContent>
                  
                </ChildContent>
            </MudExpansionPanel>
            <MudExpansionPanel>
                <TitleContent>
                    <MudText Typo="Typo.h6">Layout Properties</MudText>
                </TitleContent>
                <ChildContent>
                    <MudSlider Step="1" Min="0" Max="25" T="int" ValueChanged="OnDefaultBorderRadiusAsync"><MudText Typo="Typo.body2">Default Border Radius: <b>@($"{@Theme.LayoutProperties.DefaultBorderRadius}")</b></MudText></MudSlider>

                    <MudNumericField Step="10" Min="0" Max="1000" Value="DrawerMiniWidthLeft" ValueChanged="OnDrawerMiniWidthLeftAsync" T="int" Label="Drawer Mini Width Left" Variant="Variant.Outlined" Margin="Margin.Dense"/>

                    <MudNumericField Step="10" Min="0" Max="1000" Value="DrawerMiniWidthRight" ValueChanged="OnDrawerMiniWidthRightAsync" T="int" Label="Drawer Mini Width Right" Variant="Variant.Outlined" Margin="Margin.Dense"/>

                    <MudNumericField Step="10" Min="0" Max="1000" Value="DrawerWidthLeft" ValueChanged="OnDrawerWidthLeftAsync" T="int" Label="Drawer Width Left" Variant="Variant.Outlined" Margin="Margin.Dense"/>

                    <MudNumericField Step="10" Min="0" Max="1000" Value="DrawerWidthRight" ValueChanged="OnDrawerWidthRightAsync" T="int" Label="Drawer Width Right" Variant="Variant.Outlined" Margin="Margin.Dense"/>

                    <MudNumericField Step="1" Min="0" Max="300" Value="AppbarHeight" ValueChanged="OnAppbarHeightAsync" T="int" Label="Appbar Height" Variant="Variant.Outlined" Margin="Margin.Dense"/>
                </ChildContent>
            </MudExpansionPanel>

            <MudExpansionPanel>
                <TitleContent>
                    <MudText Typo="Typo.h6">@(_isDarkModeState.Value ? "Dark" : "Light") Palette</MudText>
                </TitleContent>
                <ChildContent>
                    <MudThemeManagerColorItem Name="Primary" ThemeColor="@_currentPalette.Primary" ColorType="ThemePaletteColor.Primary" ColorPickerView="ColorPickerView" />
                    <MudThemeManagerColorItem Name="Secondary" ThemeColor="@_currentPalette.Secondary" ColorType="ThemePaletteColor.Secondary" ColorPickerView="ColorPickerView" />
                    <MudThemeManagerColorItem Name="Tertiary" ThemeColor="@_currentPalette.Tertiary" ColorType="ThemePaletteColor.Tertiary" ColorPickerView="ColorPickerView" />
                    <MudThemeManagerColorItem Name="Info" ThemeColor="@_currentPalette.Info" ColorType="ThemePaletteColor.Info" ColorPickerView="ColorPickerView" />
                    <MudThemeManagerColorItem Name="Success" ThemeColor="@_currentPalette.Success" ColorType="ThemePaletteColor.Success" ColorPickerView="ColorPickerView" />
                    <MudThemeManagerColorItem Name="Warning" ThemeColor="@_currentPalette.Warning" ColorType="ThemePaletteColor.Warning" ColorPickerView="ColorPickerView" />
                    <MudThemeManagerColorItem Name="Error" ThemeColor="@_currentPalette.Error" ColorType="ThemePaletteColor.Error" ColorPickerView="ColorPickerView" />
                    <MudThemeManagerColorItem Name="Dark" ThemeColor="@_currentPalette.Dark" ColorType="ThemePaletteColor.Dark" ColorPickerView="ColorPickerView" />
                    <MudThemeManagerColorItem Name="Appbar Text" ThemeColor="@_currentPalette.AppbarText" ColorType="ThemePaletteColor.AppbarText" ColorPickerView="ColorPickerView" />
                    <MudThemeManagerColorItem Name="Appbar BG" ThemeColor="@_currentPalette.AppbarBackground" ColorType="ThemePaletteColor.AppbarBackground" ColorPickerView="ColorPickerView" />
                    <MudThemeManagerColorItem Name="Drawer Text" ThemeColor="@_currentPalette.DrawerText" ColorType="ThemePaletteColor.DrawerText" ColorPickerView="ColorPickerView" />
                    <MudThemeManagerColorItem Name="Drawer Icons" ThemeColor="@_currentPalette.DrawerIcon" ColorType="ThemePaletteColor.DrawerIcon" ColorPickerView="ColorPickerView" />
                    <MudThemeManagerColorItem Name="Drawer BG" ThemeColor="@_currentPalette.DrawerBackground" ColorType="ThemePaletteColor.DrawerBackground" ColorPickerView="ColorPickerView" />
                    <MudThemeManagerColorItem Name="Surface" ThemeColor="@_currentPalette.Surface" ColorType="ThemePaletteColor.Surface" ColorPickerView="ColorPickerView" />
                    <MudThemeManagerColorItem Name="Background" ThemeColor="@_currentPalette.Background" ColorType="ThemePaletteColor.Background" ColorPickerView="ColorPickerView" />
                    <MudThemeManagerColorItem Name="Background Gray" ThemeColor="@_currentPalette.BackgroundGray" ColorType="ThemePaletteColor.BackgroundGray" ColorPickerView="ColorPickerView" />
                    <MudThemeManagerColorItem Name="Lines Default" ThemeColor="@_currentPalette.LinesDefault" ColorType="ThemePaletteColor.LinesDefault" ColorPickerView="ColorPickerView" />
                    <MudThemeManagerColorItem Name="Lines Inputs" ThemeColor="@_currentPalette.LinesInputs" ColorType="ThemePaletteColor.LinesInputs" ColorPickerView="ColorPickerView" />
                    <MudThemeManagerColorItem Name="Divider" ThemeColor="@_currentPalette.Divider" ColorType="ThemePaletteColor.Divider" ColorPickerView="ColorPickerView" />
                    <MudThemeManagerColorItem Name="Divider Light" ThemeColor="@_currentPalette.DividerLight" ColorType="ThemePaletteColor.DividerLight" ColorPickerView="ColorPickerView" />
                    <MudThemeManagerColorItem Name="Text Primary" ThemeColor="@_currentPalette.TextPrimary" ColorType="ThemePaletteColor.TextPrimary" ColorPickerView="ColorPickerView" />
                    <MudThemeManagerColorItem Name="Text Secondary" ThemeColor="@_currentPalette.TextSecondary" ColorType="ThemePaletteColor.TextSecondary" ColorPickerView="ColorPickerView" />
                    <MudThemeManagerColorItem Name="Text Disabled" ThemeColor="@_currentPalette.TextDisabled" ColorType="ThemePaletteColor.TextDisabled" ColorPickerView="ColorPickerView" />
                    <MudThemeManagerColorItem Name="Action Default" ThemeColor="@_currentPalette.Surface" ColorType="ThemePaletteColor.ActionDefault" ColorPickerView="ColorPickerView" />
                    <MudThemeManagerColorItem Name="Action Disabled" ThemeColor="@_currentPalette.ActionDisabled" ColorType="ThemePaletteColor.ActionDisabled" ColorPickerView="ColorPickerView" />
                    <MudThemeManagerColorItem Name="Disabled BG" ThemeColor="@_currentPalette.ActionDisabledBackground" ColorType="ThemePaletteColor.ActionDisabledBackground" ColorPickerView="ColorPickerView" />
                    <MudThemeManagerColorItem Name="Skeleton" ThemeColor="@_currentPalette.Skeleton" ColorType="ThemePaletteColor.Skeleton" ColorPickerView="ColorPickerView" />

                </ChildContent>
            </MudExpansionPanel>
            
            <MudExpansionPanel>
                <TitleContent>
                    <MudText Typo="Typo.h6">Shadows (Elevation)</MudText>
                </TitleContent>
                <ChildContent>
                  
                </ChildContent>
            </MudExpansionPanel>
            <MudExpansionPanel>
                <TitleContent>
                    <MudText Typo="Typo.h6">Typography (Text)</MudText>
                </TitleContent>
                <ChildContent>
                    <MudSelect Label="Font Family" T="string" Value="@FontFamily" ValueChanged="OnFontFamilyAsync" Dense="true" Underline="false" Class="my-2">
                        <MudSelectItem T="string" Value="@("Roboto")"/>
                        <MudSelectItem T="string" Value="@("Montserrat")"/>
                        <MudSelectItem T="string" Value="@("Segoe UI")"/>
                        <MudSelectItem T="string" Value="@("Ubuntu")"/>
                    </MudSelect>
                </ChildContent>
            </MudExpansionPanel>
            <MudExpansionPanel>
                <TitleContent>
                    <MudText Typo="Typo.h6">Z Index</MudText>
                </TitleContent>
                <ChildContent>
                   
                </ChildContent>
            </MudExpansionPanel>
        </MudExpansionPanels>
        </div>
    </MudDrawer>
    @* <MudOverlay @bind-Visible:get="_openState.Value" @bind-Visible:set="_openState.SetValueAsync" OnClick="@UpdateOpenValueAsync" DarkBackground="false" /> *@
    
    
    <div style="@($"right: {(_openState.Value ? "312px" : "0px")};top:30%")" class="mud-thememanager-button rounded-l px-3 pt-2 pb-1" @onclick="@(() => _openState.SetValueAsync(!Open))">
        <MudTooltip Arrow="true" Placement="Placement.Left" Text="@(_openState.Value ? "Hide Theme Manager" : "Show Theme Manager")">
            <MudIcon Icon="@(_openState.Value ? @Icons.Material.Filled.ArrowRight : @Icons.Material.Filled.ArrowLeft)"/>
        </MudTooltip>
    </div>

    <div style="@($"right: {(_openState.Value ? "312px" : "0px")};top:40%")" class="mud-thememanager-button rounded-l px-3 pt-2 pb-1" @onclick="@(() => _isDarkModeState.SetValueAsync(!IsDarkMode))">
        <MudTooltip Arrow="true" Placement="Placement.Left" Text="@(_isDarkModeState.Value ? "Switch to Light Mode" : "Switch to Dark Mode")">
            <MudIcon Icon="@(_isDarkModeState.Value ? @Icons.Material.Filled.LightMode : @Icons.Material.Filled.DarkMode)" />
        </MudTooltip>
    </div>
    
    <div style="@($"right: {(_openState.Value ? "312px" : "0px")};top:50%")" class="mud-thememanager-button rounded-l px-3 pt-2 pb-1" @onclick="@(ExportTheme)">
        <MudTooltip Arrow="true" Placement="Placement.Left" Text="Export Theme">
            <MudIcon Icon="@Icons.Material.Filled.SaveAs" />
        </MudTooltip>
    </div>
    
    <div style="@($"right: {(_openState.Value ? "312px" : "0px")};top:60%")" class="mud-thememanager-button rounded-l px-3 pt-2 pb-1" @onclick="@(ExportTheme)">
        <MudTooltip Arrow="true" Placement="Placement.Left" Text="Revert to Default Theme">
            <MudIcon Icon="@Icons.Material.Filled.Warning" />
        </MudTooltip>
    </div>
</CascadingValue>